body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: rgb(210, 110, 110);
}

.outer_container {
    border: 2px solid pink;
    margin: auto;
    width: 60%;
    padding: 10px;
}

label {
    color: rgb(210, 110, 110);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

.form_input {
    width: 90%;
    height: 1.2rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2px;
}

fieldset {
    width: 90%;
}

.address {
    display: flex;
    flex-wrap: wrap;
}

.address .form_input {
    width: 80%;
    font-size: 12px
}

button {
    font-size: 0.8;
    padding: 0.7rem;
    border-radius: 20%;
    margin: auto;
    margin-top: 5px;
    background-color: lightblue;
}